@import '../variables.css';

.banner {
  max-width: 300px;
  position: relative;
  text-align: center;
  color: var(--white);

  & h1 {
    margin: 15px 0 0 0;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 2.5rem;
  }

  & p {
    margin: .5rem 0 0;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.35;
  }
}

.banner__logo {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto auto 15px;

  & svg {
    stroke: var(--white);
  }
}

.banner__image-container,
.banner__image,
.banner__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
}

.banner__image-container {
  opacity: 0;
  transition: opacity .5s;

  @nest .banner:hover & {
    opacity: 1;
    transition: opacity .5s;
  }
}

.banner__image {
  background-image: url('/peter-szerzo-180-2x.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner__overlay {
  background-color: color(var(--blue) alpha(25%));
}
