@import '../variables.css';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: fade-in ease-out .5s;
}

.main__content {
  margin: auto;
}
