@import '../variables.css';

.switch {
  cursor: pointer;
  display: inline-block;
  opacity: .6;
  padding: 10px;
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.switch__content {
  position: relative;
}

.switch__frame {
  border: 1px solid var(--blue);
  border-radius: calc(var(--switch-frame-height) / 2);
  box-sizing: border-box;
  height: var(--switch-frame-height);
  width: var(--switch-frame-width);
}

.switch__button {
  width: var(--switch-button-size);
  height: var(--switch-button-size);
  border-radius: 100%;
  background-color: var(--blue);
  position: absolute;
  top: calc(var(--switch-frame-height) / 2 - var(--switch-button-size) / 2);
  left: calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2);
  transform: translate3d(0, 0, 0);
  transition: transform .3s;

  @nest .switch--right & {
    transform: translate3d(calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }

  @nest .switch--left & {
    transform: translate3d(calc(- var(--switch-frame-width) / 2 + var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }
}
