/* vars and custom media queries */

:root {
  --white: rgb(255, 255, 255);
  --faintGray: rgb(240, 240, 240);
  --brightPurple: rgb(102, 52, 239);
  --faintBrightPurple: rgba(102, 52, 239, 0.1);
  --brighterPurple: rgb(116, 62, 254);
  --sage: rgb(0, 170, 136);
  --faintSage: rgba(0, 170, 136, 0.1);
}

/* setup */

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

/* lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

/* container */

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 60px 15px;
}

.container > * {
  margin-bottom: 60px;
}

.container > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .container {
    padding: 100px 20px;
  }

  .container > * {
    margin-bottom: 100px;
  }

  .container > *:last-child {
    margin-bottom: 0;
  }
}

/* sketches */

.sketches {
  margin: -10px;
  text-align: center;
}

.sketches > * {
  display: inline-block;
  margin: 10px;
}

@media (min-width: 640px) {
  .sketches {
    text-align: left;
  }
}

.sketch-controls {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0px;
  right: 0px;
  padding: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sketch-controls * {
  display: inline-block;
  margin-left: 10px;
}

.sketch-controls *:first-child {
  margin-left: 0;
}

/* hero */

.hero {
}

.hero > * {
  text-align: center;
  margin: 0;
}

@media (min-width: 640px) {
  .hero {
  }
}

/* animated-text-shadow */

@keyframes animated-text-shadow-keyframes {
  0% {
    text-shadow: 2px 2px 0px var(--brightPurple);
  }

  100% {
    text-shadow: 2px 2px 0px var(--sage);
  }
}

.animated-text-shadow {
  text-shadow: 2px 2px 0px var(--brightPurple);
  animation: animated-text-shadow-keyframes 6s ease-in-out infinite alternate;
}

/* divider */

.divider {
  height: 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--faintGray);
}

/* section */

section {
  text-align: center;
}

@media (min-width: 640px) {
  section {
    text-align: left;
  }
}

/* section-title */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.section-title h2 {
  margin: 0;
}

.section-title h2 span {
  opacity: 0.2;
  display: inline-block;
  margin-left: 8px;
}

.section-title > *:not(:first-child) {
  margin-left: 10px;
}

@media (min-width: 640px) {
  .section-title {
    justify-content: space-between;
  }
}

/* footer */

footer {
  text-align: center;
}

footer p,
footer ul {
  margin: 0;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul a {
  margin-left: 12px;
}

footer svg {
  fill: var(--sage);
}

/* button */

button {
  background: var(--white);
  border: 2px solid var(--sage);
  border-radius: 3px;
  line-height: 1;
  padding: 6px 8px 4px 8px;
}

button:hover {
  background-color: var(--faintSage);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--faintGray);
}

/* modal */

.modal {
  z-index: 101;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

/* static page */
.static-page {
  max-width: 640px;
  padding: 10px;
  margin: auto;
}

/* typography */

h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

p,
a,
li,
button {
  font-size: 14px;
}

p,
a,
li {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--sage);
}

a:hover {
  background-color: var(--faintSage);
}

@media (min-width: 640px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  p,
  a,
  li,
  button {
    font-size: 16px;
  }
}

blockquote {
  padding: 20px;
  background-color: var(--faintGray);
  margin: 0;
}
