@import './variables.css';

* {
  box-sizing: border-box;
  font-family: var(--pt-sans);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
}
