@import './variables.css';

* {
  box-sizing: border-box;
  font-family: var(--pt-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
}

.loader img {
  width: 60px;
  height: 60px;
  margin: auto;
}
