:root {
  --blue: #15487F;
  --white: #FFFFFF;
  --transparent-white: #FFFFFF00;
  --black: #222222;
  --red: #CC370A;
  --shadow-color: #33333333;

  --pt-sans: 'PT Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;

  --switch-frame-width: 26px;
  --switch-frame-height: 12px;
  --switch-button-size: 12px;

  --z-hidden: -1;
  --z-notification: 12000;
  --z-text-box: 10000;
  --z-mobile-nav: 1000;
  --z-desktop-nav: 2;
}

@custom-media --desktop (min-width: 700px);
