:root {
  --blue: #15487F;
  --white: #FFFFFF;
  --black: #222222;
  --red: #CC370A;
  --shadow-color: #33333333;

  --pt-sans: 'PT Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;

  --switch-frame-width: 26px;
  --switch-frame-height: 12px;
  --switch-button-size: 12px;

  --z-hidden: -1;
  --z-text-box: 100;
  --z-notification: 10000;

  --z-desktop-nav: 50;

  --z-nav: 1000;
}
