@import '../styles/variables.css';

.mobile-nav {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  background-color: var(--white);
  opacity: .85;
  border-radius: 3px;
}
