@import '../styles/variables.css';

.notification {
  position: fixed;
  background-color: var(--mustard);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  top: 20px;
  height: auto;
  width: calc(100% - 40px);
  left: 20px;
  border-radius: 3px;
  z-index: var(--z-hidden);
  opacity: 0;
  transition: all .3s;
  display: flex;
}

.notification--visible {
  z-index: var(--z-notification);
  opacity: 1;
  transition: all .3s;
}

.notification__body {
  padding: 10px 40px;
  text-align: center;
  margin: auto;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .02rem;

  & p {
    margin: 0;
    padding: 0;
  }

  & a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--white);
  }
}

.notification__close {
  width: 40px;
  height: 40px;
  padding: 12px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5;
  cursor: pointer;
  margin: 0;
  line-height: .9;

  & svg {
    width: 100%;
    height: 100%;
  }

  & g {
    stroke: var(--white);
  }
}
