@import '../styles/variables.css';

:root {
  --height: 40px;
  --padding: 12px;
  --top: 20px;
  --left: 70px;
}

.notification {
  position: fixed;
  background-color: var(--mustard);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  top: 20px;
  height: auto;
  width: calc(100% - calc(2 * var(--left)));
  height: var(--height);
  left: var(--left);
  border-radius: 3px;
  z-index: var(--z-hidden);
  opacity: 0;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification--visible {
  z-index: var(--z-notification);
  opacity: 1;
  transition: opacity .3s;
}

.notification__body {
  padding: 0 20px;
  text-align: center;
  margin: auto;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .02rem;

  & p {
    font-size: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  & a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--white);
  }
}

.notification__close {
  width: var(--height);
  height: var(--height);
  padding: var(--padding);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 0;

  & svg {
    width: calc(var(--height) - 2*var(--padding));
    height: calc(var(--height) - 2*var(--padding));
  }

  & g {
    stroke: var(--white);
  }
}
