@import '../styles/variables.css';

.text-box {
  background-color: var(--white);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  border-radius: 3px;
  opacity: 1;
  z-index: var(--z-text-box);
  transform: translate3d(0, 0, 0);
  transition: all .3s;
}

.text-box--hidden {
  background-color: color(var(--white) alpha(-100%));
  opacity: 0;
  z-index: var(--z-hidden);
  transform: translate3d(0, 25px, 0);
  transition: all .3s;
}

.text-box--primary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    transition: all .3s;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    z-index: 1;
    transition: all .3s;
  }
}

.text-box--secondary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    z-index: 1;
    transition: all .3s;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    transition: all .3s;
  }
}

.text-box__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  overflow: auto;
  margin: auto;
}

.static {
  padding: 60px 20px;
  width: 100%;
  max-width: 640px;
  margin: auto;
  font-size: 22px;
  color: var(--black);
  font-family: var(--pt-serif);

  & p {
    font-family: inherit;
    font-size: 22px;
    line-height: 1.65;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  & li,
  & ul {
    font-size: inherit;
    font-family: inherit;
  }

  & ul {
    margin: 0;
    list-style-position: inside;
    padding: 0;
  }

  & li {
    margin: 10px 0;
  }

  & blockquote {
    font-family: inherit;
    margin: 60px 0;
    border-left: 1px solid var(--black);
    padding-left: 15px;
    opacity: .8;

    & p {
      font-size: 16px;
    }
  }

  & a {
    font-family: inherit;
    text-decoration: none;
    color: var(--blue);
    opacity: .8;

    &:hover {
      opacity: 1;
      border-bottom: 1px solid var(--blue);
    }
  }
}
