html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 80px 20px;
}

.hero {
  padding: 60px 0;
}

section {
  padding: 40px 0;
}

footer {
  padding: 40px;
  border-radius: 4px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #565656;
}

footer p, footer ul {
  margin: 0;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul a {
  margin-left: 12px;
  color: inherit;
}

/* typography */

h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 0px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

p, a, li {
  font-size: 18px;
}
