doctype html
html
  head
    title.
      Peter Szerzo makes himself a website
    meta(charset='utf-8')
    meta(name='description', content='Programmer, designer, language enthusiast, yogi, cook. A friendly, straightforward fellow with eager-to-pedal feet, a green thumb and a curious mind.')
    meta(name='keywords', content='programmer, designer, writer')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='application/ld+json').
      {
        "@context": "https://schema.org",
        "@type": "Website",
        "publisher": "Peter Szerzo",
        "url": "http://www.peterszerzo.com/",
        "description": "Personal website"
      }
    link(href=htmlWebpackPlugin.files.css[0], rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400', rel='stylesheet', type='text/css')

  body
    #app
      .loader
        img(src='/ripple-2x.gif', alt='Loading icon')
    script(src=htmlWebpackPlugin.files.js[0])
