:root {
  --blue: #15487F;
  --faint-blue: color(#15487F a(30%));
  --white: #FFFFFF;
  --transparent-white: #FFFFFF44;
  --slightly-transparent-white: color(var(--white) a(80%));
  --black: #222222;
  --dark-grey: #333333;
  --red: #CC370A;
  --mustard: #DBA700;
  --shadow-color: #33333333;

  --pt-sans: 'PT Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;

  --switch-frame-width: 26px;
  --switch-frame-height: 12px;
  --switch-button-size: 12px;

  --logo-size: 180px;

  --icon-size: 18px;

  --background-opacity-scale: .005;

  --z-hidden: -1;
  --z-notification: 20;
  --z-text-box: 11;
  --z-menu: 14;
  --z-header: 15;
  --z-bg: 1;
  --z-banner: 10;

  --standard-text: {
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.35;
  }

  --standard-shadow: {
    box-shadow: 0 0 12px var(--shadow-color);
  }
}

@custom-media --desktop (min-width: 700px);

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translate3d(-5px, 3px, 0);
  }

  100% {
    transform: translate3d(5px, -3px, 0);
  }
}


/* Spinner */

.spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  & svg {
    fill: var(--blue);
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

/* Background */

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-bg);
}

.background polygon {
  fill: #FFFFFF;
}

.background polygon:nth-of-type(1) {
  animation: fade1 20s -5s ease-in-out infinite forwards;
}

.background polygon:nth-of-type(2) {
  animation: fade2 20s -5s ease-in-out infinite forwards;
}

.background polygon:nth-of-type(3) {
  animation: fade3 20s -5s ease-in-out infinite forwards;
}

.background polygon:nth-of-type(4) {
  animation: fade4 20s -5s ease-in-out infinite forwards;
}

.background polygon:nth-of-type(5) {
  animation: fade5 20s -5s ease-in-out infinite forwards;
}

@keyframes fade1 {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade2 {
  0% { opacity: calc(15 * var(--background-opacity-scale)); }
  20% { opacity: calc(15 * var(--background-opacity-scale)); }
  30% { opacity: calc(5 * var(--background-opacity-scale)); }
  70% { opacity: calc(5 * var(--background-opacity-scale)); }
  80% { opacity: calc(15 * var(--background-opacity-scale)); }
  100% { opacity: calc(15 * var(--background-opacity-scale)); }
}

@keyframes fade3 {
  0% { opacity: calc(18 * var(--background-opacity-scale)); }
  20% { opacity: calc(18 * var(--background-opacity-scale)); }
  30% { opacity: calc(7.5 * var(--background-opacity-scale)); }
  70% { opacity: calc(7.5 * var(--background-opacity-scale)); }
  80% { opacity: calc(18 * var(--background-opacity-scale)); }
  100% { opacity: calc(18 * var(--background-opacity-scale)); }
}

@keyframes fade4 {
  0% { opacity: calc(6.25 * var(--background-opacity-scale)); }
  20% { opacity: calc(6.25 * var(--background-opacity-scale)); }
  30% { opacity: calc(17.5 * var(--background-opacity-scale)); }
  70% { opacity: calc(17.5 * var(--background-opacity-scale)); }
  80% { opacity: calc(6.25 * var(--background-opacity-scale)); }
  100% { opacity: calc(6.25 * var(--background-opacity-scale)); }
}

@keyframes fade5 {
  0% { opacity: calc(12.5 * var(--background-opacity-scale)); }
  20% { opacity: calc(12.5 * var(--background-opacity-scale)); }
  30% { opacity: calc(25 * var(--background-opacity-scale)); }
  70% { opacity: calc(25 * var(--background-opacity-scale)); }
  80% { opacity: calc(12.5 * var(--background-opacity-scale)); }
  100% { opacity: calc(12.5 * var(--background-opacity-scale)); }
}


/* Switch */

.switch {
  cursor: pointer;
  display: inline-block;
  opacity: .6;
  padding: 10px;
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.switch__content {
  position: relative;
}

.switch__frame {
  border: 1px solid var(--blue);
  border-radius: calc(var(--switch-frame-height) / 2);
  box-sizing: border-box;
  height: var(--switch-frame-height);
  width: var(--switch-frame-width);
}

.switch__button {
  width: var(--switch-button-size);
  height: var(--switch-button-size);
  border-radius: 100%;
  background-color: var(--blue);
  position: absolute;
  top: calc(var(--switch-frame-height) / 2 - var(--switch-button-size) / 2);
  left: calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2);
  transform: translate3d(0, 0, 0);
  transition: transform .3s;

  @nest .switch--right & {
    transform: translate3d(calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }

  @nest .switch--left & {
    transform: translate3d(calc(- var(--switch-frame-width) / 2 + var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }
}


/* ProjectBox, TextBox */

.project-box,
.text-box {
  background-color: var(--white);
  color: var(--dark-grey);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-text-box);
}

.project-box__content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 100px 40px 60px;
}

.project {
  display: block;
  margin: 40px auto;
  padding: 20px;
  max-width: 640px;
  width: 100%;
  text-decoration: none;
  text-align: left;
  color: currentColor;
  border: 1px solid transparent;
  transition: all .6s;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  & h2 {
    margin: 1rem 0 0;
  }

  & p {
    margin-top: 0;
  }

  &:hover {
    @apply (--standard-shadow);
  }

  @media (--desktop) {
    margin: 80px auto;
    padding: 40px;
  }
}

.project__image {
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 62.5%;
  border: 1px solid #00000011;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* TextBox */

.text-box {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: opacity .3s;
}

.text-box--hidden {
  opacity: 0;
  pointer-events: none;
}

.text-box--primary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 1;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 0;
    pointer-events: none;
  }
}

.text-box--secondary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 0;
    pointer-events: none;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 1;
  }
}

.text-box__contents {
  height: 100%;
}

.text-box__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  transition: all .3s;
}

.text-box__switch {
  position: fixed;
  bottom: 10px;
  left: 5px;
  z-index: 3;
}

.text-box__switch--hidden {
  display: none;
}
