:root {
  --blue: #15487F;
  --faint-blue: color(#15487F a(30%));
  --white: #FFFFFF;
  --transparent-white: #FFFFFF00;
  --slightly-transparent-white: color(var(--white) a(95%));
  --black: #222222;
  --red: #CC370A;
  --mustard: #DBA700;
  --shadow-color: #33333333;

  --pt-sans: 'PT Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;

  --switch-frame-width: 26px;
  --switch-frame-height: 12px;
  --switch-button-size: 12px;

  --logo-size: 180px;

  --icon-size: 18px;

  --z-hidden: -1;
  --z-notification: 12;
  --z-text-box: 11;
  --z-menu: 14;
  --z-header: 15;
  --z-bg: 1;
  --z-banner: 10;

  --standard-text: {
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.35;
  }
}

@custom-media --desktop (min-width: 700px);

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translate3d(-5px, 3px, 0);
  }

  100% {
    transform: translate3d(5px, -3px, 0);
  }
}

* {
  box-sizing: border-box;
  font-family: var(--pt-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  border: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}


/* Spinner */

.spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  & svg {
    fill: var(--blue);
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-bg);
  animation: float 10s ease-in-out infinite alternate forwards;
}


/* Static */

.static {
  padding: 40px 20px 20px;
  width: 100%;
  max-width: 680px;
  margin: auto;
  color: var(--black);
  font-family: var(--pt-serif);

  @media (--desktop) {
    padding: 80px 20px;
  }

  & h2 {
    font-size: 2rem;
    text-align: center;

    @media (--desktop) {
      margin: 1.4rem 0;
      font-size: 3rem;
    }
  }

  & p,
  & li,
  & ul {
    font-family: inherit;
  }

  & p {
    margin: 1.5rem 0;

    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    @media (--desktop) {
      margin: 2.05rem 0;
    }
  }

  & p,
  & li {
    font-size: 1rem;
    line-height: 1.68;

    @media (--desktop) {
      font-size: 1.375rem;
    }
  }

  & ul {
    margin: 0;
    list-style-position: inside;
    padding: 0;
  }

  & li {
    margin: 10px 0;
  }

  & a {
    font-family: inherit;
    color: var(--blue);
    opacity: .8;

    &:hover {
      opacity: 1;
      border-bottom: 1px solid currentColor;
    }
  }
}


/* Banner */

.banner {
  max-width: 300px;
  position: relative;
  text-align: center;
  color: var(--white);
  z-index: var(--z-banner);

  & h1 {
    margin: 20px 0 18px;
    line-height: 1.1;
    letter-spacing: .1rem;
    font-size: 2rem;
  }

  & p {
    margin: .5rem 0 0;
    @apply (--standard-text);
  }
}

.banner__logo {
  position: relative;
  width: var(--logo-size);
  height: var(--logo-size);
  margin: auto auto 15px;

  & svg {
    stroke: var(--white);
  }
}

.banner__image-container,
.banner__image,
.banner__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
}

.banner__image-container {
  opacity: 0;
  transition: opacity .5s;

  @nest .banner:hover & {
    opacity: 1;
    transition: opacity .5s;
  }
}

.banner__image {
  background-image: url('http://stuff.peterszerzo.com/img/portrait-360.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner__overlay {
  background-color: color(var(--blue) alpha(25%));
}


/* Nav */

.header {
  width: 100%;
  height: 60px;
  display: flex;
  position: absolute;
  transition: all .3s;
  top: 0;
  left: 0;
  color: var(--black);
  z-index: var(--z-header);

  @media (--desktop) {
    background: var(--white);
    box-shadow: 0 0 12px var(--shadow-color);
  }
}

.header--discrete {
  border: none;
  background: transparent;
  transition: none;
  color: var(--white);

  @media (--desktop) {
    color: var(--black);
    top: auto;
    bottom: 0;
    background: none;
    border: none;
    box-shadow: none;
  }
}

.header__icon {
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 18px;
  position: absolute;
  top: 0;
  fill: currentColor;
  transition: opacity .3s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.header__falafel {
  right: 0;

  @media (--desktop) {
    display: none;
  }
}

.header__logo {
  left: 0;

  @nest .header--discrete & {
    display: none;
  }
}

.header__desktop-links {
  width: 100%;
  display: none;
  margin: 0;
  padding-top: 20px;
  text-align: center;

  @media (--desktop) {
    display: block;
  }
}

.header__desktop-link {
  color: currentColor;
  display: inline-block;
  cursor: pointer;
  position: relative;
  opacity: .5;
  font-size: 1rem;
  letter-spacing: .05rem;
  font-kerning: normal;
  margin: 0 20px;
  transition: opacity .3s;

  @nest .header--discrete & {
    color: var(--white);
  }
}

.header__desktop-link:hover,
.header__desktop-link--active {
  opacity: 1;
  transition: opacity .3s;
}


/* Main */

.main {
  width: 100%;
  height: 100%;
  background: var(--blue);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: fade-in ease-out .5s;
}

.main__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--white);
}


/* Menu */

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--slightly-transparent-white);
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
  z-index: var(--z-menu);
}

.menu__links {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: auto;
  text-align: center;
}

.menu__link {
  cursor: pointer;
  display: block;
  color: var(--blue);
  padding: 10px 0;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}


/* Notification */

.notification {
  position: fixed;
  background-color: var(--mustard);
  box-shadow: 0 0 10px 0 var(--shadow-color);
  bottom: 80px;
  width: 280px;
  height: auto;
  right: 40px;
  border-radius: 3px;
  z-index: var(--z-notification);
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

.notification--visible {
  opacity: 1;
  pointer-events: all;
}

.notification__body {
  padding: 20px 60px 20px 20px;
  text-align: left;
  margin: auto;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: .04rem;

  & p {
    font-size: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.35;
  }

  & a {
    font-size: inherit;
    color: inherit;
    border-bottom: 1px solid var(--white);
  }
}

.notification__close {
  width: 48px;
  height: 48px;
  padding: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  transition: transform .3s;

  & svg {
    width: 100%;
    height: 100%;
  }

  & g {
    stroke: var(--white);
  }

  &:hover {
    transform: scale(1.15);
  }
}


/* Switch */

.switch {
  cursor: pointer;
  display: inline-block;
  opacity: .6;
  padding: 10px;
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.switch__content {
  position: relative;
}

.switch__frame {
  border: 1px solid var(--blue);
  border-radius: calc(var(--switch-frame-height) / 2);
  box-sizing: border-box;
  height: var(--switch-frame-height);
  width: var(--switch-frame-width);
}

.switch__button {
  width: var(--switch-button-size);
  height: var(--switch-button-size);
  border-radius: 100%;
  background-color: var(--blue);
  position: absolute;
  top: calc(var(--switch-frame-height) / 2 - var(--switch-button-size) / 2);
  left: calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2);
  transform: translate3d(0, 0, 0);
  transition: transform .3s;

  @nest .switch--right & {
    transform: translate3d(calc(var(--switch-frame-width) / 2 - var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }

  @nest .switch--left & {
    transform: translate3d(calc(- var(--switch-frame-width) / 2 + var(--switch-button-size) / 2), 0, 0);
    transition: transform .3s;
  }
}


/* ProjectBox, TextBox */

.project-box,
.text-box {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-text-box);
}

.project-box__content {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 80px 40px 60px;
}

.project {
  flex: 1 0 320px;
  margin: 30px;
  border-radius: 8px;
  width: 100%;
  text-decoration: none;
  color: currentColor;

  & h2 {
    margin: 1rem 0 0;
  }

  & p {
    margin-top: 0;
  }
}

.project__image {
  width: 100%;
  padding-top: 75%;
  background-color: #00000011;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* TextBox */

.text-box {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: opacity .3s;
}

.text-box--hidden {
  opacity: 0;
  pointer-events: none;
}

.text-box--primary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 1;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 0;
    pointer-events: none;
  }
}

.text-box--secondary-displayed {
  & .text-box__content:nth-of-type(1) {
    opacity: 0;
    pointer-events: none;
  }

  & .text-box__content:nth-of-type(2) {
    opacity: 1;
  }
}

.text-box__contents {
  height: 100%;
}

.text-box__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  transition: all .3s;
}

.text-box__switch {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
}

.text-box__switch--hidden {
  display: none;
}
