@import '../styles/variables.css';

.nav {
  z-index: var(--z-nav);
}

.nav__home-link {
  position: fixed;
  top: -40px;
  left: -40px;
  width: 160px;
  height: 160px;
  opacity: .2;
  cursor: pointer;
  transition: opacity .3s;

  & svg {
    stroke: var(--blue);
  }

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.nav__falafel {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .3s;

  & svg {
    fill: var(--blue);
  }

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.nav__switch {
  position: fixed;
  top: 24px;
  right: calc(50% - var(--switch-frame-width) / 2);
}

.nav__switch--hidden {
  display: none;
}
